:root {
    font-family: "Inter", sans-serif;
    --primaryColor: rgba(0, 255, 110, 0.6);
    --secondaryColor: #FEFEFE;
    --tertiaryColor: black;
}

* {
    border: red 1px solid;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--primaryColor);
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title {
    margin-right: auto;
    font-family: "Times New Roman", serif;
    font-size: 1.5em;
    font-weight: bolder;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    transition: 0.3s;
}

header a {
    text-decoration: none;
    color: var(--tertiaryColor);
    transition: 0.3s;
}

header li:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    background-color: var(--secondaryColor);
}

.job-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.job-list li {
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryColor);
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08);
    border: var(--primaryColor) 1px solid;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: 0.3s;
}

.job-list li h3 {
    font-size: larger;
    font-weight: bolder;
}
.job-list li h4 {
    font-size: large;
    font-weight: bold;
}

.job-list li a {
    color: var(--primaryColor);
    text-decoration: none;
    transition: 0.3s;
}

.job-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.job-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 10%;
    background-color: var(--secondaryColor);
    border: var(--primaryColor) 1px solid;
    border-radius: 10px;
}

.job-location * {
    margin: 2px;
}

.job-list li * {
    color: var(--tertiaryColor);
}

.job-list li:hover {
    background-color: var(--primaryColor);
    transform: scale(1.05);
    transition: 0.3s;
}

.job-list li:hover .job-link {
    background-color: var(--secondaryColor);
    transition: 0.3s;
}

.job-list li:hover .job-link span {
    color: var(--tertiaryColor);
}

.job-link:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.3s;
}

a:hover {
    cursor: pointer;
}

#location-icon {
    width: 14px;
    justify-content: center;
    fill: var(--tertiaryColor);
}