<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/docs.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <title>Title</title>
    </head>
    <body>
        <!-- Navbar -->
        <header>
            <h1 id="nav-title">ME EMPREGA</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/docs">Documentação da API</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <!--
            FAZER DOCUMENTAÇÃO DA API, ONDE O LINK DELA É

            /apisearch
            E POSSUI UMA KEYWORD que é justamente a pesquisa da vaga
            EXEMPLO DE KEYWORD \/, obs é um GET.

            /api/search?keyWords=java developer


            -->
        </main>
    </body>
</html>