<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <title>me emprega - Lista de Vagas</title>
</head>
<body>
    <!-- Navbar -->
    <header>
        <h1 id="nav-title">ME EMPREGA</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Documentação da API</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul class="job-list">
            <li th:each="job : ${jobs}">
                <h3 th:text="${job.jobTitle}"></h3>
                <a th:href="${job.jobCompanyLink}" target="_blank"><h4 th:text="${job.jobCompany}"></h4></a>
                <div class="job-location">
                    <img src="/assets/location.svg" id="location-icon" alt="">
                    <span th:text="${job.jobLocation}"></span>
                </div>
                <div class="job-link">
                    <a th:href="${job.jobLink}" target="_blank">
                        <span>Mais informações</span>
                    </a>
                </div>
                <span th:text="${job.jobReleaseTime}"></span>
            </li>
        </ul>
    </main>
</body>
</html>